.profile  {
  display: flex;
}

.profile-create  {
  display: flex;
  margin-top: 6vw;
}

.profile-button {
  margin-left: 20vw;
}

.profile-nice {
  display: flex;
}
.profile-nice-create {
  margin-top: 5vw;
  display: flex;
}

.profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5vw;
  width: 50%;
}

.profile-body h2 {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1vw;
  margin-left: 2vw;
}

.profile-body input {
  font-size: 1vw;
  width: auto;
}
